body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-one,
.line-two{
    display: flex;
}

.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    margin: 20px;
    border: 5px solid white;
    cursor: pointer;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.flash{
    opacity: 0.3;
}

.userflash{
    opacity: 0.5;
}

.wrong{
    transform: scale(1.03);
    transition: 0.2s;
}